@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
body {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="36" height="72" viewBox="0 0 36 72"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.pic {
  position: relative;
  color: rgb(139, 138, 138);
}
    
.picText {
    position: absolute;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(206, 206, 206);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}